.mainContainer {
    margin: 0;
    padding: 0;
}

.bottomNav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--bottom-nav-height);
    /* background: rgba(34, 34, 34, 0.95); */
    /* background: rgba(0, 0, 0, 0.35); */
background-color: white;
    border-top: 2px solid rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 50;
}

.navButton {
    background: rgba(100, 100, 100, 0.95);
    display: flex;
    width: 36px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.navLink {
    text-decoration: none;
    color: inherit
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.navLabel {
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    /* border: 1px solid gray; */
    padding: 0.7rem 0.8rem;
    gap: 0.4rem;
}